<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TessAndroid"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="false"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.TessAndroid" />
        <activity
            android:name=".LottieActivity"
            android:exported="false"
            android:label="@string/title_activity_lottie"
            android:theme="@style/Theme.TessAndroid" />
        <activity
            android:name=".WoofActivity"
            android:exported="false"
            android:label="@string/title_activity_woof"
            android:theme="@style/Theme.TessAndroid" />
        <activity
            android:name=".WoofActivity1"
            android:exported="false"
            android:label="@string/title_activity_woof1"
            android:theme="@style/Theme.TessAndroid" />
        <activity
            android:name=".ExploreActivity"
            android:exported="false"
            android:label="@string/title_activity_explore"
            android:theme="@style/Theme.TessAndroid" />
        <activity
            android:name=".DestinationActivity"
            android:exported="false"
            android:label="@string/title_activity_destination"
            android:theme="@style/Theme.TessAndroid" />
        <activity
            android:name=".FormActivity"
            android:exported="false"
            android:label="@string/title_activity_form"
            android:theme="@style/Theme.TessAndroid" />
        <activity
            android:name=".intentActivity"
            android:exported="false"
            android:label="@string/title_activity_intent"
            android:theme="@style/Theme.TessAndroid" />
        <activity
            android:name=".IntenseActivity"
            android:exported="false"
            android:label="@string/title_activity_intense"
            android:theme="@style/Theme.TessAndroid" />
        <activity
            android:name=".Layoutactivity"
            android:exported="false"
            android:label="@string/title_activity_layoutactivity"
            android:theme="@style/Theme.TessAndroid" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TessAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>